

.LoginComponent {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    place-items: center;
    background-color: black;
    width: 70%;
    padding: 5%;
    margin: auto;
}

.LoginComponentDontHave {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    place-items: center;
}

.LoginForm {
    color: white;
    width: 200px;
    height: 35px;
}

.resetPasswordText {
    padding: 6%;
    line-height: 1.5;
}

.UncursorableButton {
    cursor: pointer;
}